<div class="inner flex-row-vertical">
  <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
      <i class="icon icon-lg material-icons">close</i>
  </a>
  <div class="brand-wrap">
    <div class="brand">
      <a href="/about" class="avatar"><img src="<%=theme.avatar %>"></a>
      <hgroup class="introduce">
        <h5 class="nickname"><%- config.author %></h5>
        <%- mail_to(theme.email, theme.email, {class: 'mail'}) %>
      </hgroup>
    </div>
  </div>
  <ul class="nav flex-col">
    <%
      var menuItem, isActive = function(item) {
          var url = url_for(item.url);
          return (url === '/' ? '' : url) + '/index.html' === '/' + page.path;
      };
      for (var i in theme.menu) {
        menuItem = theme.menu[i];
      %>
        <li class="waves-block waves-effect<% if(isActive(menuItem)){ %> active<% } %>" style="line-height:44px;height:44px;padding:0 10px;">
          <a href="<%- url_for(menuItem.url) %>" <% if(menuItem.target){ %> target="_blank" <% } if(menuItem.turbo === false ){ %> data-turbolinks="false" <% } %> >
            <% if(menuItem.type === 'ml') {%><i class="material-icons icon icon-lg"><%= i %></i><% }
            else {%><i class="icon icon-lg icon-<%= i %>"></i><% } %>
            <span><%-(menuItem.text || _.startCase(i)) %></span>
          </a>
        </li>
    <% } %>
  </ul>

  <%- partial('footer') %>
</div>
