<article id="<%= post.layout %>-<%= post.slug %>" 
  class="article article-type-<%= post.layout %>" itemprop="blogPost">
    <div class="post-meat flex-row">
        <%- partial('post/tag') %>
    </div>
    <div class="post-meat" style="color:grey; font-size:13px;">
        <i class="icon icon-sm icon-eye" aria-hidden="true"></i>
        <% if (typeof popular_posts_pv !== 'undefined') { %>
        	<%- format_number(popular_posts_pv()) %>
        <% } else { %>
            0
        <% } %>
    </div>
    <div class="post-body">
        <div class="post-main">
            <div class="post-content" id="post-content" itemprop="postContent">
            <%- post.content %>
            </div>
            <%- partial('post/nav') %>
            
            <%- partial('post/comment') %>
        </div>
    </div>
</article>

<script src="/js/zoom.js"></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": "<%- post.permalink %>",
  "headline": "<%- post.title %>",
  "datePublished": "<%- post.date %>",
  "dateModified": "<%- post.date %>",
  "author": "SSARCandy",
  "image": {
    "@type": "ImageObject",
    "url": "https://ssarcandy.tw<%- post.image %>"
  },
  "publisher":{ 
    "@type" : "Organization",
    "name": "SSARCandy's Blog",
    "logo": {
      "@type": "ImageObject",
      "url": "https://ssarcandy.tw/img/logo.png"
    }
  }     
}
</script>