<% 
var edu = site.data.experiences.educations
var work = site.data.experiences.works
%>
<div class="about-container">
    <div class="about-exp">
        <h3>Education</h3>
        <table>
        <% for (i in edu) { %>
            <tr>
                <td style="width: 50px;">
                    <img src="/img/aboutMe/<%- edu[i].icon %>.jpg" height="50px" width="50px">
                </td>
                <td>
                <ul class="about-list">
                    <li><%- edu[i].time%></li>
                    <li><%- edu[i].degree%></li>
                    <li><a href="<%- edu[i].link%>" target="_blank"><%- edu[i].department%> <%- edu[i].name%></a></li>
                </ul>
                </td> 
            </tr>
        <% } %>
        </table>
    </div>
    <div class="about-exp">
        <h3>Experiences</h3>
        <table>
        <% for (i in work) { %>
            <tr>
                <td style="width: 50px;">
                    <img src="/img/aboutMe/<%- work[i].icon %>.jpg" height="50px" width="50px">
                </td>
                <td>
                <ul class="about-list">
                    <li><%- work[i].time %></li>
                    <li><%- work[i].job %></li>
                    <li><a href="<%- work[i].link%>" target="_blank"><%- work[i].serviceUnit %></a></li>
                </ul>
                </td>
            </tr>
        <% } %>
        </table>
    </div>
</div>

