<div style="padding: 0 16px;">
    <h3>Introduction</h3>
    <div class="about-intro">
        <p>
            <%- page.content %>
        </p>
    </div>

    <% 
    var edu = site.data.experiences.educations
    var work = site.data.experiences.works
    %>
    <div class="about-container">
        <div class="about-exp">
            <h3>Experiences</h3>
            <table>
            <% for (i in work) { %>
                <tr>
                    <td style="width: 50px;">
                        <img src="/img/aboutMe/<%- work[i].icon %>.png" alt="<%- work[i].icon %>" height="50px" width="50px" style="border-radius: 5px;">
                    </td>
                    <td>
                    <ul class="about-list">
                        <li><%- work[i].time %></li>
                        <li><%- work[i].job %></li>
                        <li><a href="<%- work[i].link %>" target="_blank" rel="noopener"><%- work[i].serviceUnit %></a></li>
                    </ul>
                    </td>
                </tr>
            <% } %>
            </table>
        </div>
        <div class="about-exp">
            <h3>Educations</h3>
            <table>
            <% for (i in edu) { %>
                <tr>
                    <td style="width: 50px;">
                        <img src="/img/aboutMe/<%- edu[i].icon %>.png" alt="<%- edu[i].icon %>" height="50px" width="50px">
                    </td>
                    <td>
                    <ul class="about-list">
                        <li><%- edu[i].time %></li>
                        <li><%- edu[i].degree %></li>
                        <li><a href="<%- edu[i].link %>" target="_blank" rel="noopener"><%- edu[i].department %> <%- edu[i].name %></a></li>
                    </ul>
                    </td> 
                </tr>
            <% } %>
            </table>
        </div>
    </div>
</div>
