<%
// Insert a native in-feed ad after every N cards, but only when an In-feed unit is
// configured (slot + layout_key). 0 disables interleaving entirely. Exposed as
// data-ad-every so ProjectTags.js can re-interleave a proportional number of ads
// when the tag filter narrows the grid (instead of stranding them at fixed spots).
var __pad = theme.adsense && theme.adsense.enable && theme.adsense.in_feed && theme.adsense.in_feed.projects;
var __every = (__pad && __pad.slot && __pad.layout_key) ? (__pad.every || 6) : 0;
var __n = 0;
%>
<ul class="post-list project-list"<% if (__every) { %> data-ad-every="<%= __every %>"<% } %>>
  <input type="search" id="plugin-search-input" placeholder="Search">
  <li class="project-grid-sizer"></li>

  <% for (i in site.data.projects) { %>
    <li class="project-list-item plugin on">
        <%- partial('_partial/projects/project-item', {
            project: site.data.projects[i]
        }) %>
    </li>
    <% __n++; %>
    <% if (__every && __n % __every === 0) { %>
      <%- partial('_partial/ads/in-feed-project') %>
    <% } %>
  <% } %>

</ul>

<script>
window.SEARCH_INDEX = <%- lunr_index(site.data.projects) %>;
</script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="<%- url_for('js/projectPage.bundle.js') %>" type="module"></script>