<div class="brand-wrap">
  <div class="brand">
    <div class="about-img-container">
      <img src="/img/logo.png" alt="ssarcandy" class="about-head-photo">
    </div>
    <hgroup class="about-introduce">
      <div class="about-name">Andy Hsu</div>
      <!-- <div class="about-nickname"><%= theme.email %></div> -->
    </hgroup>
    <hgroup class="about-sociallink">
      <%
      for (var i in theme.social_links) {
        icon = theme.social_links[i];
      %>
      <a class="about-social-icon" aria-label="<%- icon.icon %>" href="<%- icon.url %>" target="<%- icon.target %>" rel="noopener">
        <i class="icon icon-lg <%- icon.icon %>" aria-label="<%- icon.icon %>"></i>
      </a>
      <%}%>
    </hgroup>
  </div>
</div>
