<article to="<%- url_for(post.path) %>" class="archive-article">
  <div class="archive-article-date">
    <div class="archive-article-year"><%= post.date.format('YYYY') %></div>
    <%- partial('post/date', { post: post, date_format: 'MMM D'}) %>
  </div>
  <div class="archive-article-inner">
    <%- partial('post/title', { hasLink: false }) %>
  </div>
  <%- partial('post/tag') %>
</article>