<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemprop="blogPost">
    <%- partial('post/title', { hasLink: true }) %>
    <div class="post-meta">
        <%- partial('post/date', {
            post: post, 
            index: true,
            date_format: config.date_format
        }) %>
    </div>
    
    <div class="post-content" itemprop="postContent" >
    <% if (post.excerpt){ %>
        <%- post.excerpt %>
    <% } else { %>
        <%- post.content %>
    <% } %>
    </div>
    <a href="<%- url_for(post.path) %>" class="article post-title-link"><%- __('post.read_more') %></a>
    <hr/>
    <%- partial('post/tag') %>
</article>