<div class="inner flex-row-vertical">
  <a href="javascript:;" class="rail-menu" id="rail-toggle" aria-label="Toggle navigation" aria-expanded="false">
    <i class="material-icons icon icon-lg">menu</i>
  </a>
  <ul class="nav flex-col">
    <%
      var menuItem, isActive = function(item) {
          var url = url_for(item.url);
          return (url === '/' ? '' : url) + '/index.html' === '/' + page.path;
      };
      for (var i in theme.menu) {
        menuItem = theme.menu[i];
      %>
        <li class="nav-item<% if (isActive(menuItem)) { %> active<% } %>">
          <a href="<%- url_for(menuItem.url) %>" <% if (menuItem.target) { %> target="_blank" rel="noopener" <% } if (menuItem.turbo === false ) { %> data-turbolinks="false" <% } %> >
            <span class="nav-indicator">
              <i class="material-icons icon icon-lg"><%= i %></i>
            </span>
            <span class="nav-label"><%- (__(menuItem.text) || i) %></span>
          </a>
        </li>
    <% } %>
  </ul>
  <div class="rail-footer">
    <span class="rail-visitor-label"><%- __('menu.total_visitor') %></span>
    <span class="rail-visitor-count"><%- number_format(visitor_count()) %></span>
  </div>
</div>
